*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lilita One", sans-serif, "Inter", sans-serif;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('./image/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
}


.wrapper .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-align: center;
}

.logo {
    margin-top:65px;
    width: 240px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.container p {
    font-family: 'Inter', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: row;
    font-size: 25px;
}


.buttons .button {
    font-family: 'Inter', sans-serif;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    width: 180px;
    height: 60px;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    cursor: pointer;
    font-size: 30px;
    transition: background-color 0.3s ease;
}
.search-button {
    width: 100%; /* Đảm bảo phần tử cha có đủ chiều rộng */
    display: flex; /* Sử dụng flexbox */
    justify-content: center; /* Canh giữa theo chiều ngang */
}

.search-button .button {
    font-family: 'Inter', sans-serif;
    width: 250px;
    height: 60px;
    background-color: #0082FF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.3s ease;
}


.button:hover {
    background-color: #0057b3;
}

#messageBox {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: center;
    z-index: 1000;
}

/* Modal (background) */
.modal {
    display: none; /* Ẩn theo mặc định */
    position: fixed; /* Ở lại vị trí */
    z-index: 1; /* Ở trên cùng */
    left: 0;
    top: 0;
    width: 100%; /* Đầy đủ chiều rộng */
    height: 100%; /* Đầy đủ chiều cao */
    overflow: auto; /* Có thể cuộn nếu cần */
    background-color: rgb(0, 0, 0); /* Fallback */
    background-color: rgba(0, 0, 0, 0.4); /* Đen với độ trong suốt */
    color:rgb(0, 0, 0);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% từ trên và căn giữa */
    padding: 20px;
    border: 1px solid #888;
    color:rgb(0, 0, 0);
    width: 80%; /* Có thể thay đổi chiều rộng nếu cần */
    max-width: 600px; /* Tối đa chiều rộng */
    max-height: 600px;
}

/* Close Button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Chỉnh sửa selector và màu sắc cho phù hợp */
.modal .result h1 {
    color: #0468C8; /* Sử dụng mã màu CSS hoặc tên màu */
    font-size: 30px;
    font-family: Inter;
    font-weight: 900;
    word-wrap: break-word;
}


#songList {
    list-style-type: none;
    padding: 0;
    font-family: Inter;
    font-size: 20px;
}

#songList li {
    margin-bottom: 10px; /* Khoảng cách giữa các tiêu đề */
}
#songListContainer {
    max-height: 900px; 
    overflow-y: auto; /* Kích hoạt thanh cuộn dọc khi cần */
}
