<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>MUSEEK</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <!-- Search Section -->
            <div id="Section">
                <img class="logo" src="{{ url_for('static', filename='css/image/logo.png') }}" alt="Logo">
                <h1>Welcome to <span style="color: #0082FF;">MUSEEK</span></h1>
                <p>Give me a sample music record, I will seek the song for you!</p>

                <div class="buttons">
                    <button class="button" id="upButton">Your file</button>
                    <input type="file" name="file" id="fileInput" style="display: none;">
                    <button class="button" id="recordButton">Record</button>
                </div>
            </div>

            <!-- Modal for displaying results -->
            <div id="messbox" class="modal">
                <div class="modal-content">
                    <span class="close-button">&times;</span>
                    <div class="result" id="songListContainer">
                        <h1>BEST MATCHED SONGS</h1>
                        <ul id="songList"></ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
